<div>
    <nav class="navbar navbar-default">
        <div class="continer-fluid">
            <a class="navbar-brand" href="/">{{pageTitle}}</a>
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['/welcome']">Welcome</a>
                </li>
                <li>
                    <a [routerLink]="['/products']">Products</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="continer">
        <router-outlet></router-outlet>
    </div>
</div>